.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

nav .navbar-nav li a:hover{
    color: #ffcc00 !important;
}

.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary:focus {

    border-color: #ff6600 !important;
    color: #000000;
}

.btn-outline-primary:hover {

    background-color: #ff6600 !important;
    color: #ffffff !important;
}

.btn-danger,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus {

    background-color: #ff3300;
    color: #ffffff !important;
}

.btn-outline-danger,
.btn-outline-danger:active,
.btn-outline-danger:visited,
.btn-outline-danger:focus {

    border-color: #ff3300 !important;
    color: #000000;
}

.btn-outline-danger:hover {

    background-color: #ff3300 !important;
    color: #ffffff !important;
}

nav .navbar{
    background-color: #00111F !important;
}
